<% @page_title = "Product List" %>


<article class="module width_3_quarter">
  <header>
    <h3 class="tabs_involved">Products</h3>

    <ul class="tabs">

       <li> <%=	 link_to "Add new Product", new_product_path, :class => 'action new', :remote => true %></li>

    </ul>

  </header>
  <!--<div><%=	 pluralize(@products.size, 'product') %> found</div>-->

  <table class="tablesorter" summary="product list">
    <thead>
    <tr class="header">
      <th>&nbsp;</th>
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render(:partial => "listgen", :locals => {:products => @products}) %>
    </tbody>
  </table>

</article>

<article id="newform" class="module width_quarter" style= "visibility: hidden">
</article>