<% @page_title = "Delete Product Feature" %>

<%= link_to("<< Back to List", {:action => 'list', :product_id => @product_feature.product_id}, :class => 'back-link') %>

<div class="product feature delete">
  <h2>Delete Product Feature</h2>

  <%= form_for(:product_feature, :url => {:action => 'destroy', :id => @product_feature.id}) do |f| %>
  
	<p>Are you sure you want to permanently delete this product feature?</p>
	
	<p class="reference-name"><%=@product_feature.name%></p>
	
    <div class="form-buttons">
      <%= submit_tag("Delete Product Feature") %>
    </div>
    
    
  <% end %>
</div>
