<% @page_title = "Edit Product Feature" %>

<%= link_to("<< Back to List", {:action => 'list', :product_id => @product_feature.product_id}, :class => 'back-link') %>

<div class="product feature edit">
  <h2>Update Product Feature</h2>

  <%= form_for(:product_feature, :url => {:action => 'update', :id => @product_feature.id, :product_id => @product_feature.product_id}, :html => { :multipart => true }) do |f| %>
  
  	<%= render(:partial =>"form", :locals => {:f => f}) %>
  	
    <div class="form-buttons">
      <%= submit_tag("Update Product Feature") %>
    </div>
    
  <% end %>
</div>
